a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}
a:hover {
    color: rgba(15, 15, 13, 0.836);
}

footer {
    clear: both;
    border-top: 2px solid black;
}

footer p {
    text-align: start;
    font-size: 80%;
}